/* Login page styling */

.login_box{
    border-color:#244b9e;
    background:  rgba(3, 8, 21, 0.95);
    border-width: 1px;
    border-radius:20px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding-left: 100px;
    padding-top: 60px;
    width:500px;
    height:550px
}

.login_footer{
    position: relative;
    top:80px
}

::placeholder {
    color: #1f1818; /* Set your desired color */
    opacity: 1;    /* Required for Firefox to display the full color */
  }


/* Nav bar and logo styling */
.nav-list{
    position: relative;
    right:30px;
    
}

.logo{
    padding:10px;
    position: relative;
    right:13px
}


ul{
    list-style-type:none; 
 }
 
 li{
     margin-bottom: 40px;
 }


.nav-button{
    color:#A9B4C2;
    font-weight:600;
    font-size: 23px;
    margin-right: 50px;

}

span{
    color: #220e0e;
    font-weight: 400;
    margin-right: 7px;

}

.nav-button:hover {
    color:#F2B705;
  }




